@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-andre-blue: #3d5a89;
  --clr-andre-grey: #b3b8c0;
  --clr-andre-transparent-grey: rgba(179,184,192, 0.2);
  --clr-andre-transparent-blue: rgba(61,90,137, 0.2);
  --clr-andre-white: #fbfdff;
  --clr-andre-transparent-grey-shadow:0 1px 3px rgba(179,184,192, 0.2);
  --clr-andre-transparent-blue-shadow:0 1px 3px rgba(61,90,137, 0.2);
  --clr-andre-submit-button: #06d11b;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;

}

body {
  @apply font-mono
}

@media screen and (min-width: 310px) {
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.tecnologiasFullSize{
  display: none;
  width: 0.000001px;
  height: 0.0000001px;

}
}
  .sidebarBtn {
    position: fixed;
    top: 2rem;
    left: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-andre-white);
    transition: var(--transition);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: hsl(205, 78%, 60%);
    transition: var(--transition);
    cursor: pointer;
    color: hsl(360, 67%, 44%);
    margin-top: 0.2rem;
  }
  .close-btn:hover {
    color: hsl(360, 71%, 66%);
  }
  .logo {
    justify-self: center;
    height: 175px;
  }
  
  .links a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--clr-andre-blue);
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }
  
  .links a:hover {
    background:  hsl(210, 36%, 96%);
    color: hsl(211, 39%, 23%);
  }
  .links a svg {
    font-size: 1.5rem;
    color: var(--clr-grey-5);
    margin-right: 1rem;
    transition: var(--transition);
  }
  .links a:hover svg {
    color: hsl(210, 22%, 49%);
  }
  .social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
  }
  .social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: var(--clr-andre-blue);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color:hsl(205, 86%, 17%);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: hsl(360, 67%, 44%);
    transition: var(--transition);
    transform: translate(-100%);
  }
  .show-sidebar {
    transform: translate(0);
  }
 
 .habilidadeTitle{
  color: #111;
  font-weight: bold;
  font-size: 1.3rem;
  text-align:center;
  }
.form{
  background-color:#3d5a89;
  width: 100vw;
  height: auto;

}
.formMobile{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label{
  font-size: 1.2rem;
  font-weight:bold;
  color: #b3b8c0;
  text-align: center;
}
.placeholder{
  width: 70vw;
  margin-left: 15vw;
  height: 7vh;
}
#message{
  height: 25vh;
}
.formBtn{
  width: 38vw;
  margin-left: 31vw;
  background-color: #b3b8c0;
  color: #3d5a89;
}
.projetosMobile{
  width: 100vw;
  height: auto;
  background-color: #3d5a89;
}

.projetosImg{
  width: 70vw;
  margin-left: 15vw;
  border: 4px solid #b3b8c0;
  border-radius:4px;
  margin-top: 8vh;
}

.projetosTitle{
  color: #b3b8c0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
 
}

.projetosFigcaption{
  color: #b3b8c0;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;

  padding-bottom: 10vh;
}
.formBtn:hover {
  background-color:  lightgreen;
}
  .habilidadesParagraph{
    color: #111;
    font-size: 1.1rem;
    font-weight: bold;
  text-align: center;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 3vh;
  }
.metodologiasMobile{
  width: 100vw;
  height: auto;
  background-color:#b3b8c0;
}
.metodologiasTitleMobile{
  color:#111;
  padding-top: 7vh;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;

}
.metodologiaImgMobile{
  width: 40vw;
  margin-left: 30vw;
  margin-top: 5vh;

}
.tecnologiasMobile{
  width: 100vw;
  height: auto;

  background: linear-gradient(to bottom ,#000,#111, #222 ,#b3b8c0 );


}

.firstSectionTitleMobile{
font-size: 1.8rem;
font-weight: bold;
color:#fbfdff;
width: 70vw;
margin-left: 15vw;
text-align: center;

}
.tecnologiasFigureMobile{
  width: 70vw;
  margin-left: 15vw;

}
.tecnologiasImgMobile{
  margin-top: 10vh;
  width: 40vw;
  margin-left: 30vw;

}
.tecnologiasFigCaptionMobile,.tecnologiasFigCaptionMobile1, .tecnologiasFigCaptionMobile2, .tecnologiasFigCaptionMobile3,
.tecnologiasFigCaptionMobile4,.tecnologiasFigCaptionMobile5,.tecnologiasFigCaptionMobile6,
.tecnologiasFigCaptionMobile7, .tecnologiasFigCaptionMobile8, .tecnologiasFigCaptionMobile9{
  font-size: 1.6rem;
  font-weight:bold;
  margin-left: 25vw;
  width: 50vw;
  text-align: center;
}
.tecnologiasFigCaptionMobile{
  color:#fbfdff;
}
.tecnologiasFigCaptionMobile1{
 
  color: #00D8FF;

  border-left: thick  groove #00D8FF;
  border-right: thick  groove  #00D8FF;
  border-bottom: thick  groove  #00D8FF;


}
.tecnologiasFigCaptionMobile2{
 
  color: #007398;

  border-left: thick  groove #007398;
  border-right: thick  groove  #007398;
  border-bottom: thick  groove  #007398;


}
.tecnologiasFigCaptionMobile3{
 
  color: #8913FC;

  border-left: thick  groove #8913FC;
  border-right: thick  groove  #8913FC;
  border-bottom: thick  groove #8913FC;


}
.tecnologiasFigCaptionMobile4{
 
 
    color: #8CC84B;
  
    border-left: thick  groove #8CC84B;
    border-right: thick  groove  #8CC84B;
    border-bottom: thick  groove #8CC84B;
  
  
  }
  .tecnologiasFigCaptionMobile5{
 
 
    color: #E44D26;
  
    border-left: thick  groove #E44D26;
    border-right: thick  groove  #E44D26;
    border-bottom: thick  groove #E44D26;
  
  
  }
  .tecnologiasFigCaptionMobile6{
 
 
    color: #0277BD;
  
    border-left: thick  groove #0277BD;
    border-right: thick  groove  #0277BD;
    border-bottom: thick  groove #0277BD;
  
  
  }

  .tecnologiasFigCaptionMobile7{
 
 
    color: #eeeeee;
  
    border-left: thick  groove #eeeeee;
    border-right: thick  groove  #eeeeee;
    border-bottom: thick  groove #eeeeee;
  
  
  }
  
  .tecnologiasFigCaptionMobile8{
 
 
    color: #44A8B3;
  
    border-left: thick  groove #44A8B3;
    border-right: thick  groove  #44A8B3;
    border-bottom: thick  groove #44A8B3;
  
  
  }
  .tecnologiasFigCaptionMobile9{
 
 
    color: #FFD600;
  
    border-left: thick  groove #FFD600;
    border-right: thick  groove  #FFD600;
    border-bottom: thick  groove #FFD600;
  
  
  }

  
  .metodologiasFullSize{
    display:none;
    width: 0.00001vw;
    height: 0.000001vh;
  }




.firstSectionImgMobile{
  width: 70vw;
margin-left: auto;
box-sizing: border-box;
margin-left: 15vw;
 
}



.banner{
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
 

}

.bannerParagraph{
  color: var(--clr-andre-white);
  font-weight: bold;
  font-size: 1.1rem;
 margin-left: 10vw;
  width: 80vw;
  margin-top: 5vh;
  text-align: center;
 

}

.bannerBtn{
  width:40vw;
  margin-left:30vw;
  border: 3px solid var(--clr-andre-white);
  border-radius: 5px;
  opacity: 0.3;
  background-color: var(--clr-andre-blue);
  color: var(--clr-andre-white);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3vh;

}

.bannerBtn:hover{
  background-color: green;
  opacity: 0.8;
}

.footerLogo{
  width: 36vw;
  margin-left: 32vw;
}

.bannerImg{
  width: 50vw;
  margin-left:25vw;

}

.footer{
  width: 100vw;
  height: auto;
  background-color: #222;

}

.footerParagraph{
  color: var(--clr-andre-white);
  font-size: 1.2rem;
  font-weight:bold;
  text-align: center;
}
@media screen and (min-width: 676px) {
  .banner{
    height: 110vh;
  }
  .sidebar {
    width: 400px;
  }
.metodologiasMobile{
  opacity: 0;
  width: 0.000001vw;
  height: 0.0000001vw;
}
.metodologiasContainerMobile{
  display: none;
  width: 0.00000001vw;
  height: 0.0000001vw;
}
  .metodologiasFullSize{
    display:grid;
  background-color:#b3b8c0;
    width: 100vw;
  
    height: auto;
 
  
  }
.metodologiasGridFullSize{
  display:grid;
  width: 100vw;
  height: auto;
  grid-template-columns: 1fr, 1fr ,1fr;
}
  
  .metodologiasTitleFullSize{
    font-weight:bold;
    font-size: 2rem;
    color:#111;
    padding-top: 7vh;
    text-align: center;
    padding-bottom: 10vw;
  }

  .metodologiasFigureFullSize1{
    grid-column: 1;
    width: 33vw;
    margin-left: 5vw;
   

  }
  .metodologiasFigureFullSize2{
    grid-column: 2;
    width: 33vw;
    
    
  }

.metodologiasFigureFullSize3{
  grid-column: 3;
  width: 34vw;
 
  
}


.metodologiaImgFullSize{
  width: 22vw;
}

.habilidadeTitleFullSize{
  font-weight:bold;
  font-size: 1.6rem;
  color:#111;
  padding-top: 7vh;
  text-align: center;
  width: 22vw;
}

.habilidadesParagraphFullSize{
  font-weight:bold;
  font-size: 1.4rem;
  color:#111;
  padding-top: 7vh;
  text-align: center;
  width: 22vw;
}
.tecnologiasFullSize{
  width: 100vw;
  height: auto;
display:grid;
  background: linear-gradient(to bottom ,#000,#111, #222 ,#b3b8c0 );


}

.tecnologiasMobile{
  width: 0.00001px;
  height: 0.00001px;
  opacity: 0;
}

.tecnologiasContainerMobile{
  display: none;
  width: 0.00001px;
  height: 0.000001px;
  opacity: 0;
}

.tecnologiasTitleFullSize{
  color:#fbfdff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 7vh;
  padding-bottom: 12vh;
}

.tecnologiasFigCaptionFullSize1, .tecnologiasFigCaptionFullSize2, .tecnologiasFigCaptionFullSize3,
.tecnologiasFigCaptionFullSize4, .tecnologiasFigCaptionFullSize5, .tecnologiasFigCaptionFullSize6,
.tecnologiasFigCaptionFullSize7, .tecnologiasFigCaptionFullSize8, .tecnologiasFigCaptionFullSize9{
font-size: 1.7rem;
font-weight: bold;
text-align: center;
}

.tecnologiasFigCaptionFullSize1{
  color: #00D8FF;

  border-left: thick  groove #00D8FF;
  border-right: thick  groove  #00D8FF;
  border-bottom: thick  groove  #00D8FF;
}

.tecnologiasFigCaptionFullSize2{
  color: #007398;

  border-left: thick  groove #007398;
  border-right: thick  groove  #007398;
  border-bottom: thick  groove  #007398;


}

.tecnologiasFigCaptionFullSize3{
  color: #8913FC;

  border-left: thick  groove #8913FC;
  border-right: thick  groove  #8913FC;
  border-bottom: thick  groove #8913FC;

}

.tecnologiasFigCaptionFullSize4{
  color: #8CC84B;
  
  border-left: thick  groove #8CC84B;
  border-right: thick  groove  #8CC84B;
  border-bottom: thick  groove #8CC84B;


}

.tecnologiasFigCaptionFullSize5{
  color: #E44D26;
  
  border-left: thick  groove #E44D26;
  border-right: thick  groove  #E44D26;
  border-bottom: thick  groove #E44D26;

}

.tecnologiasFigCaptionFullSize6{
  color: #0277BD;
  
  border-left: thick  groove #0277BD;
  border-right: thick  groove  #0277BD;
  border-bottom: thick  groove #0277BD;

}

.tecnologiasFigCaptionFullSize7{

color: #eeeeee;
  
    border-left: thick  groove #eeeeee;
    border-right: thick  groove  #eeeeee;
    border-bottom: thick  groove #eeeeee;
  
}

.tecnologiasFigCaptionFullSize8{
  color: #44A8B3;
  
    border-left: thick  groove #44A8B3;
    border-right: thick  groove  #44A8B3;
    border-bottom: thick  groove #44A8B3;
  
  
}

.tecnologiasFigCaptionFullSize9{
  color: #FFD600;
  
    border-left: thick  groove #FFD600;
    border-right: thick  groove  #FFD600;
    border-bottom: thick  groove #FFD600;
  
  
}

.tecnologiasGridFullSize{
  display:grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.tecnologiasFigureFullSize1{
  grid-column: 1;
  grid-row: 1;
  width: 33vw;
  padding-top: 8vh;
}
.tecnologiasFigureFullSize2{
  grid-column: 2;
  padding-top: 8vh;
  grid-row: 1;
  width: 33vw;
}
}
.tecnologiasFigureFullSize3{
  grid-column: 3;
  grid-row: 1;
   padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize4{
  grid-column: 1;
  grid-row: 2;
  padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize5{
  grid-column: 2;
  grid-row: 2;
   padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize6{
  grid-column: 3;
  grid-row: 2;
  padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize7{
  grid-column: 1;
  grid-row: 3;
  padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize8{
  grid-column: 2;
  grid-row: 3;
  padding-top: 8vh;
  width: 33vw;
}
.tecnologiasFigureFullSize9{
  grid-column: 3;
  padding-top: 8vh;
  grid-row: 3;
  width: 33vw;
}
.projetosTitle{
font-size: 2.5rem;
padding-top: 8vh;
}


.formBtn{
  height: 7vh;
}

.tecnologiasImgFullSize{
  width: 25vw;
padding-left: 4vw; 
height: 40vh;
}